$font-one: 'Oswald', sans-serif;
$font-two: 'Playfair Display', serif;
$font-three: 'Sansita Swashed', cursive;

@media (max-width:780px){
    .menu {
        display: none;
    }
}

body {
    margin: 0;

    header {
        color: white;
        background-image: url(https://i.postimg.cc/vmH0FDF7/background-image.jpg);
        background-size: cover;

        nav { 
            
            .container {
                
                .nav-wrapper {
                    padding-top: 10px;
                    
                    .logo { 
                        font-family: $font-three;
                        font-size: 30px;
                        color: gold;

                        p {
                            margin: 0;
                        }
                    }

                    .menu { 
                        padding-top: 10px;

                        ul {
                            margin: 0;

                            li { 
                                display:inline-block;
                                padding: 0 25px;
                                
                                a { 
                                    text-decoration: none;
                                    color: inherit;
                                    font-family: $font-one;
                                    font-size: 18px;

                                }
                            }
                        }
                    }
                }
            }
        }

        .header-title { 
            margin-top: 90px;
            
            h1, h2 { 
                text-align: center;
            }

            h1 {
                font-size: 120px;
                font-family: $font-one;
                font-weight: bold;
                margin-top: 30px;
            }

            h2 {
                font-size: 45px;
                font-family: $font-two;
                font-style: italic;
                margin-bottom: 30px;
            }

            .wraper-header { 
                display: flex;
                padding-bottom: 250px;
                
                .btn {
                    border: solid 2px rgb(244, 199, 108);
                    border-radius: 5px;
                    padding: 25px 70px;
                    background-color: rgb(244, 199, 108);
                    text-align: center;
                    margin: auto;
                    color: white;
                    text-decoration: none;
                    font-size:  25px;
                    font-family: $font-one;
                }
            }
        }
    }

    .services {
        padding-top: 120px;

        .container {
            padding-bottom: 90px;

            h3 {
                font-family: $font-one;
                text-align: center;
                font-size: 50px;
                font-weight: bold;
                margin: 0;
            }

            p { 
                text-align: center;
                font-size: 25px;
                font-family: $font-three;
                color: gray;
                font-style: italic;
                margin-top: 5px;
            }

            .row {
                justify-content: space-around;

                .services-wrap {
                    margin-top: 40px;
                    display: flex;
                    flex-direction: column;

                    i {
                        margin: auto;
                        color: gold;
                        border: solid 3px gold;
                        border-radius: 50%;
                        padding: 23px;
                        font-size: 60px;
                        display: inline-block;
                        height: 120px;
                        width: 120px;
                        text-align: center;
                    }

                    h4 { 
                        text-align: center;
                        font-size: 20px;
                        font-family: $font-one;
                        font-weight: 1000;
                        margin: 10px 0;
                    }

                    p {
                        font-size: 15px;
                        font-style: normal;
                        font-family: $font-one;
                    }
                }
            }
        }
    }

    .portfolio { 
        background-color: rgb(235, 231, 231);

        h3 {
            font-family: $font-one;
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            margin: 0;
            padding-top: 120px;
        }

        p { 
            text-align: center;
            font-size: 25px;
            font-family: $font-three;
            color: gray;
            font-style: italic;
            margin-top: 5px;
            margin-bottom: 90px;
        }
        
        .container {
            padding-bottom: 30px;

            .row {

                .portfolio-wrap {
                    flex-direction: column;
                    height: 450px;

                    .portfolio-image {
                        width: 100%;
                        height: 50%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: 100% 100%;
                        }
                    }
                    
                    .portfolio-description { 
                        background: white;
                        display: flex;
                        flex-direction: column;
                        
                        .portfolio-help { 
                            margin: auto;

                            h6 { 
                                text-align: center;
                                font-size: 25px;
                                margin: 0;
                                padding: 35px 40px 0 40px;
                            }

                            p { 
                                padding: 0;
                                font-size: 15px;
                                margin-bottom: 35px;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        
        .container {
            padding-top: 15px;
            padding-bottom: 30px;
            
            .row {
                position: relative;
                .copyright {
                    display: flex;

                    p {
                        text-align: center;
                        margin: auto;
                        padding-top:15px;
                    }
                }

                .social-media {
                    position: absolute;
                    display: flex;
                
                    ul {
                        margin: auto;
                        li {
                            display: inline-block;
                            margin-right: 15px;

                            a { 
                                text-decoration: none;
                                i { 
                                    color: white;
                                    border: solid 2px black;
                                    background-color: black;
                                    border-radius: 50%;
                                    font-size: 20px;
                                    text-align: center;
                                    display: inline-block;
                                    width: 50px;
                                    height: 50px;
                                    padding: 15px;
                                
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}